@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-weight: 500;
}

button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.3s ease;

  &:hover {
    background-color: blue;
  }
}
